.login-page-bg  {
  background-color: #E9ECEF;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.login-ctn {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  border: 2px solid transparent;
  border-radius: 15px;
  background-color: #2C3E50;
  box-shadow: 0 2px 5px transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.login-ctn h1 {
  text-align: center;
  margin-bottom: 40px;
  color: #E9ECEF; /* Changed to match the home page */
}

.input-ctn {
  margin-bottom: 30px;
  color: #E9ECEF; /* Changed to match the home page */
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: #E9ECEF;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #E9ECEF;
  border-radius: 15px;
  font-size: 16px;
  color: black;
}

button {
  margin-top: 20px;
  background-color: #E9ECEF;
  color: #2C3E50;
  border: none;
  border-radius: 15px;
  padding: 7px 14px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  transform: translateY(-3px);
}

.login-ctn p {
  font-size: 16px;
  margin-top: 20px;
  color: #E9ECEF;
}

.login-ctn a {
  color: #E9ECEF;
  text-decoration: none;
  font-weight: bold;
}

.login-ctn a:hover {
  text-decoration: underline;
  color: black;
}
