.search-page-bg-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-color: #E9ECEF;
}

.search-ctn {
  background-color: #2C3E50;
  color: #E9ECEF;
  font-family: Arial, sans-serif;
  padding: 60px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 30%;
  box-sizing: border-box;
  font-size: small;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-ctn h1 {
  margin-bottom: 40px;
  text-align: center;
}

.search-ctn label {
  display: flex;
  flex-direction: column; 
  margin: 20px 0;
  color: #E9ECEF;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: large;
}

.search-ctn select,
.search-ctn input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
}

.search-btn {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.3s ease;
  background-color: #2C3E50;
  color: #E9ECEF;
  border: none;
  cursor: pointer;
  font-size: large;
  margin-top: 20px;
}
