.home-bg-container {
  display: flex;
  height: 100vh;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.container {
  display: flex;
  width: 100%;
}

.container > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 60px;
}

.my-home-container,
.employee-container,
.employer-container {
  font-family: Arial, sans-serif;
  flex: 2; 
  padding: 60px;
  border: 2px solid transparent;
  border-radius: 15px;
  text-align: start;
  box-shadow: 0 2px 5px transparent;
}

.my-home-container,
.employee-container {
  background-color: #E9ECEF;
  color: #2C3E50;
}

.employer-container {
  background-color: #2C3E50;
  color: #E9ECEF;
}

.text-container,
.text-wrapper {
  max-width: 400px;
  margin: auto; 
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
  height: auto;
  min-height: 50vh;
  margin-top: 100;
}

.my-home-container h1,
.employee-container h1,
.employer-container h1 {
  margin-bottom: 40px;
}

.my-home-container p,
.employee-container p,
.employer-container p {
  margin-bottom: 20px;
  font-size: x-large;
  font-style: oblique;
}

.button-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2C3E50;
}

.button-spacing {
  margin-bottom: 10px;
}

.personalized-button-find,
.personalized-button {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.personalized-button-find {
  color: #2C3E50;
  background-color: #E9ECEF;
}

.personalized-button {
  background-color: #2C3E50;
  color: #E9ECEF;
}

.personalized-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  transform: translateY(-3px);
}
