.profile-page-view {
    background-image: url('../../../../src/assets/images/image4.jpg');
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
}
  
  .profile-container {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .profile-photo-view {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid white;
    object-fit: cover;
  }
  
  .employee-info-view {
    width: 100%;
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
  }
  
  .info-card {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
  }
  
  .icon {
    margin-right: 10px;
    font-size: 20px;
  }
