.profile-page-view {
    background-color: #2C3E50;
    font-family: Arial, sans-serif;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}
  
  .profile-photo-container {
    background-color: #E9ECEF;
    color: #2C3E50;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .profile-photo-view {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #2C3E50;
    background-color: #E9ECEF;
    object-fit: cover;
    color: #2C3E50;
  }
  
  .employee-info-view {
    width: 100%;
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    color: #2C3E50;
  }
  
  .info-card {
    background-color: #E9ECEF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    color: #2C3E50;
  }
  
  .icon {
    margin-right: 10px;
    font-size: 20px;
    color: #2C3E50;
  }

.view-cv-button {
  display: inline-block;
  margin-left: 10px; /* Add some space between the buttons */
  padding: 8px 15px;
  font-size: 14px;
  color: #fff;
  background-color: #007bff; /* Bootstrap primary color for example */
  border-radius: 5px;
  text-decoration: none;
}

.view-cv-button:hover {
  background-color: #0056b3;
  text-decoration: none;
  color: #fff;
}
